@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Poppins:wght@300;400;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* border: 3px solid red; */
}

.container{
  background-color: var(--light-blue);
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  width: 90%;
  margin: 1rem;
  text-align: center;
  max-width: 500px;
  font-size: 1.2rem;
  font-weight: 500;

}

.heading{
  font-size: 2.5rem;
  margin: 1rem;
  color: var(--white);
}

.input{
  background-color: var(--white);
  height: 3rem;
  color: var(--black);
  text-align: center;
  width: 80%;
  border-color: var(--black);
  font-size: 1rem;
  padding: .5rem;
  border-radius: 5px;

}
p{
  padding: .5rem;
  color: var(--grey);
}

.meaning-container{
  display: none;
}



