@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Poppins:wght@300;400;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #db6400;
  --color-sec: #9d0191;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    to left bottom,
    var(--dark-grey),
    var(--blue),
    var(--dark-grey)
  );
  /* border: 2px solid red; */
}
header {
  font-size: 2rem;
  color: var(--grey);
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  /* border: 2px solid red; */
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  padding: 2rem;
  /* border: 2px solid red; */
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.heading {
  font-size: 2.2rem;
  margin: 1rem;
  color: var(--dark-grey);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.container {
  width: 500px;
  margin: 1rem 1rem;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  /* border: 2px solid red; */
}

.counter-div {
  padding: 1rem;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
}

.counter-div > * {
  margin-bottom: 2rem;
}

.count {
  font-size: 4rem;
}

.buttons > button.subtract,
button.reset,
button.add {
  padding: 1rem;
  margin: 1rem 1rem;
  font-size: 1.5rem;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}


button.subtract {
  background-color: orangered;
  color: white;
}
button.reset {
  background-color: var(--black);
  color: var(--white);
}
button.add {
  background-color: green;
  color: white;
}

/* Palindrome and vowel Counter styles*/

.pal {
  background-color: var(--white);
  padding: 5rem 3rem;
  border-radius: 3px;
}

.input-text-palindrome,
.input-text-vowels {
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-sec);
  padding: 1rem 5px;
  font-size: 1.6rem;
}

.palindrome,
.vowelBtn {
  padding: 1rem 5px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: var(--white);
  background-color: var(--color-sec);
  cursor: pointer;
}

p.palindromeResult,
p.vowelResult {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-grey);
}


/* copytext cointainer */
.copy-text-container{
  background-color: var(--light-blue);
}

button.copyTextBtn {
  width: 25%;
  padding: 1rem 5px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: var(--white);
  background-color: var(--color-primary);
}

/* click to tweet styles */
button.tweetBtn{
  background-color: rgb(29, 155, 240) !important;
  min-height: 32px;
  color: var(--white) !important;
  padding: .5rem;
  border: none;
  border-radius: 5px;

}

p.tweettextarea{
  font-size: 20px !important;
}


.countCharacter{
  font-size: 4rem;
  border: 1px solid var(--white);
  padding: 0 1rem;
}

@media (min-width: 320px) and (max-width: 575px) {
  .container {
    width: 300px;
  }

  h1 {
    font-size: 3rem;
  }
}
