@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --yellow: #f2be22;

  --green: #22a699;
  --color-primary: #f24c3d;
  --color-sec: #f29727;
  --color-pink: #f92672;
  --color-text-shadow-pink: #f8a5c2;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Oswald", sans-serif;
  background-color: var(--dark-grey);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--grey);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 2);
  padding: 2rem;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2.5rem;
  /* padding: 1rem; */
  text-align: center;

}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  padding: 2rem;
}

label{
  font-weight: bold;
  margin-bottom: .8rem;

}

input{
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

input[type='button']{
  background-color: var(--yellow);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

input[type='button']:hover{
  background-color: var(--dark-grey);
}

#result{
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;


}