@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Poppins:wght@300;400;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #97feed;
  --light-blue: #35a29f;
  --color-primary: #0b666a;
  --color-sec: #071952;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--grey);
}
