@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Poppins:wght@300;400;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--grey) !important;
}

p {
  font-size: 1.6rem;
  line-height: 1;
}

img {
  width: 100%;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.box{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-item{
  position: relative;
  margin: 5px 0;
}

.form-item > *{
  padding: 8px;

}

.fas{
  position: absolute;
  right: 1.1rem;
  top: .7rem;
  cursor: pointer;
}
